In [1]:
import pandas as pd
import numpy as np
import pylab as pl

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

from sklearn import neighbors, tree, naive_bayes, svm, neural_network
from sklearn import ensemble
from sklearn.svm import SVC

In [2]:
dataset = pd.read_csv("mono_feat.csv")
dataset.head()
data = dataset.iloc[:, 0:827].values
normalized_data=(data-data.mean())/data.std()
target = dataset.iloc[:,827].values

In [3]:
labels = ['aborigene', 'praia', 'monumento','onibus','dinossauro','elefante','flor','cavalo','montanha','comida']
labels2 = ['Aborígene', 'Praia', 'Monumento','Ônibus','Dinossauro','Elefante','Flor','Cavalo','Montanha','Comida']

In [4]:
X_train, X_test, y_train, y_test = train_test_split(normalized_data, target, test_size=0.30,stratify=target)

In [8]:
bagging = ensemble.BaggingClassifier(base_estimator = svm.SVC(kernel = 'poly', C = 10000,gamma = 'auto'))
bagging.fit(X_train, y_train)
print(bagging.score(X_test, y_test))
y_predic_bagging = bagging.predict(X_test)
dfbagging = pd.DataFrame(confusion_matrix(y_test, y_predic_bagging, labels = labels))
dfbagging.columns= labels2
dfbagging.index = labels2
dfbagging

0.8066666666666666

,Aborígene,Praia,Monumento,Ônibus,Dinossauro,Elefante,Flor,Cavalo,Montanha,Comida
Aborígene,24,0,1,0,0,3,0,0,1,1
Praia,1,20,4,0,0,3,0,0,2,0
Monumento,3,0,22,1,0,2,0,0,2,0
Ônibus,0,0,3,26,0,0,0,0,1,0
Dinossauro,0,0,0,0,30,0,0,0,0,0
Elefante,1,0,1,0,0,26,0,1,0,1
Flor,0,0,0,0,0,0,30,0,0,0
Cavalo,2,0,0,0,0,4,0,24,0,0
Montanha,2,5,2,0,0,2,1,0,17,1
Comida,0,1,2,3,0,1,0,0,0,23