In [1]:
import pandas as pd
import numpy as np
import pylab as pl

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

from sklearn import neighbors, tree, naive_bayes, svm, neural_network
from sklearn.svm import SVC

In [2]:
dataset = pd.read_csv("mono_feat.csv")
dataset.head()
data = dataset.iloc[:, 0:827].values
normalized_data=(data-data.mean())/data.std()
target = dataset.iloc[:,827].values

In [3]:
labels = ['aborigene', 'praia', 'monumento','onibus','dinossauro','elefante','flor','cavalo','montanha','comida']
labels2 = ['Aborígene', 'Praia', 'Monumento','Ônibus','Dinossauro','Elefante','Flor','Cavalo','Montanha','Comida']

In [4]:
X_train, X_test, y_train, y_test = train_test_split(normalized_data, target, test_size=0.30,stratify=target)

In [5]:
knn = neighbors.KNeighborsClassifier(n_neighbors = 1)
knn.fit(X_train, y_train)
print(knn.score(X_test, y_test))
y_predic_knn = knn.predict(X_test)
dfknn1 = pd.DataFrame(confusion_matrix(y_test, y_predic_knn, labels = labels))
dfknn1.columns= labels2
dfknn1.index = labels2
dfknn1

0.7233333333333334

,Aborígene,Praia,Monumento,Ônibus,Dinossauro,Elefante,Flor,Cavalo,Montanha,Comida
Aborígene,28,0,1,0,0,1,0,0,0,0
Praia,2,13,6,0,0,1,0,0,8,0
Monumento,4,1,19,0,0,2,0,1,2,1
Ônibus,0,2,2,22,0,1,0,0,0,3
Dinossauro,0,0,0,0,30,0,0,0,0,0
Elefante,2,0,2,0,0,25,0,1,0,0
Flor,3,1,0,0,0,0,23,0,1,2
Cavalo,0,0,0,0,0,3,0,27,0,0
Montanha,0,3,9,3,0,3,0,0,12,0
Comida,3,1,3,2,0,0,1,0,2,18

In [6]:
knn = neighbors.KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, y_train)
print(knn.score(X_test, y_test))
y_predic_knn = knn.predict(X_test)
dfknn3 = pd.DataFrame(confusion_matrix(y_test, y_predic_knn, labels = labels))
dfknn3.columns= labels2
dfknn3.index = labels2
dfknn3

0.7

,Aborígene,Praia,Monumento,Ônibus,Dinossauro,Elefante,Flor,Cavalo,Montanha,Comida
Aborígene,28,0,0,0,0,1,0,1,0,0
Praia,3,11,7,0,0,0,0,1,8,0
Monumento,6,0,14,1,0,3,0,1,3,2
Ônibus,3,1,0,21,0,2,0,0,0,3
Dinossauro,0,0,0,0,30,0,0,0,0,0
Elefante,3,0,3,0,0,23,0,1,0,0
Flor,4,0,0,0,0,0,25,0,0,1
Cavalo,1,0,0,0,0,3,0,26,0,0
Montanha,4,1,5,3,0,2,0,0,15,0
Comida,7,0,1,3,0,0,1,0,1,17

In [7]:
knn = neighbors.KNeighborsClassifier(n_neighbors = 5)
knn.fit(X_train, y_train)
print(knn.score(X_test, y_test))
y_predic_knn = knn.predict(X_test)
dfknn5 = pd.DataFrame(confusion_matrix(y_test, y_predic_knn, labels = labels))
dfknn5.columns= labels2
dfknn5.index = labels2
dfknn5

0.73

,Aborígene,Praia,Monumento,Ônibus,Dinossauro,Elefante,Flor,Cavalo,Montanha,Comida
Aborígene,26,0,0,0,0,2,0,1,0,1
Praia,1,10,10,0,0,2,0,1,6,0
Monumento,5,0,18,1,0,3,0,1,2,0
Ônibus,0,1,3,23,0,1,0,0,0,2
Dinossauro,0,0,0,0,30,0,0,0,0,0
Elefante,2,0,1,0,0,26,0,1,0,0
Flor,4,0,0,1,0,0,25,0,0,0
Cavalo,1,0,0,0,0,1,0,28,0,0
Montanha,2,1,8,3,0,2,0,0,14,0
Comida,5,1,1,3,0,0,1,0,0,19

In [8]:
knn = neighbors.KNeighborsClassifier(n_neighbors = 7)
knn.fit(X_train, y_train)
print(knn.score(X_test, y_test))
y_predic_knn = knn.predict(X_test)
dfknn7 = pd.DataFrame(confusion_matrix(y_test, y_predic_knn, labels = labels))
dfknn7.columns= labels2
dfknn7.index = labels2
dfknn7

0.7233333333333334

,Aborígene,Praia,Monumento,Ônibus,Dinossauro,Elefante,Flor,Cavalo,Montanha,Comida
Aborígene,28,0,0,0,0,2,0,0,0,0
Praia,2,11,8,0,0,2,0,0,7,0
Monumento,5,0,18,1,0,3,0,1,2,0
Ônibus,0,1,4,22,0,1,0,0,0,2
Dinossauro,0,0,0,0,30,0,0,0,0,0
Elefante,2,0,1,0,0,26,0,1,0,0
Flor,5,0,0,1,0,0,24,0,0,0
Cavalo,1,0,0,0,0,3,0,26,0,0
Montanha,2,1,8,4,0,2,0,0,13,0
Comida,5,0,2,2,0,1,1,0,0,19

In [9]:
c45 = tree.DecisionTreeClassifier()
c45.fit(X_train, y_train)
print(c45.score(X_test, y_test))
y_predic_c45 = c45.predict(X_test)
dfc45 = pd.DataFrame(confusion_matrix(y_test, y_predic_c45, labels = labels))
dfc45.columns= labels2
dfc45.index = labels2
dfc45

0.7066666666666667

,Aborígene,Praia,Monumento,Ônibus,Dinossauro,Elefante,Flor,Cavalo,Montanha,Comida
Aborígene,21,0,3,0,0,0,0,1,5,0
Praia,2,15,3,1,0,2,0,0,5,2
Monumento,6,0,15,2,0,2,0,0,2,3
Ônibus,1,1,1,25,0,0,0,0,1,1
Dinossauro,0,0,1,0,28,0,0,0,0,1
Elefante,2,0,0,0,0,18,0,1,4,5
Flor,0,1,0,2,0,0,27,0,0,0
Cavalo,0,0,1,0,0,1,0,27,1,0
Montanha,1,1,8,1,0,1,0,0,15,3
Comida,1,1,4,2,0,1,0,0,0,21

In [10]:
c45 = tree.DecisionTreeClassifier(criterion = 'entropy')
c45.fit(X_train, y_train)
print(c45.score(X_test, y_test))
y_predic_c45 = c45.predict(X_test)
dfc45 = pd.DataFrame(confusion_matrix(y_test, y_predic_c45, labels = labels))
dfc45.columns= labels2
dfc45.index = labels2
dfc45

0.6633333333333333

,Aborígene,Praia,Monumento,Ônibus,Dinossauro,Elefante,Flor,Cavalo,Montanha,Comida
Aborígene,16,0,2,0,1,4,0,0,6,1
Praia,0,20,4,0,0,0,0,0,4,2
Monumento,0,6,12,1,0,5,0,1,0,5
Ônibus,0,1,1,27,0,0,0,0,0,1
Dinossauro,1,0,0,0,28,1,0,0,0,0
Elefante,3,0,1,0,0,21,0,1,1,3
Flor,0,0,4,0,0,0,25,0,1,0
Cavalo,2,0,0,0,0,1,0,26,1,0
Montanha,2,8,2,0,0,2,0,0,8,8
Comida,2,1,7,0,0,3,0,0,1,16

In [11]:
gnb = naive_bayes.GaussianNB()
gnb.fit(X_train, y_train)
print(gnb.score(X_test, y_test))
y_predic_gnb = gnb.predict(X_test)
dfgnb = pd.DataFrame(confusion_matrix(y_test, y_predic_gnb, labels = labels))
dfgnb.columns= labels2
dfgnb.index = labels2
dfgnb

0.7466666666666667

,Aborígene,Praia,Monumento,Ônibus,Dinossauro,Elefante,Flor,Cavalo,Montanha,Comida
Aborígene,24,0,0,0,0,3,0,0,1,2
Praia,1,21,2,0,0,2,0,2,2,0
Monumento,4,3,9,2,0,4,0,2,1,5
Ônibus,1,0,2,21,0,0,0,0,1,5
Dinossauro,0,0,0,0,30,0,0,0,0,0
Elefante,2,1,0,0,0,27,0,0,0,0
Flor,0,0,0,0,0,0,27,0,1,2
Cavalo,0,0,0,0,0,2,0,28,0,0
Montanha,1,2,2,6,0,1,0,1,16,1
Comida,5,1,0,0,0,2,1,0,0,21

In [12]:
svm = svm.SVC(kernel = 'poly', C = 10000,gamma = 'auto')
svm.fit(X_train, y_train) 
print(svm.score(X_test, y_test))
y_predic_svm = svm.predict(X_test)
dfsvm = pd.DataFrame(confusion_matrix(y_test, y_predic_svm, labels = labels))
dfsvm.columns= labels2
dfsvm.index = labels2
dfsvm

0.8233333333333334

,Aborígene,Praia,Monumento,Ônibus,Dinossauro,Elefante,Flor,Cavalo,Montanha,Comida
Aborígene,26,0,1,0,0,2,0,0,0,1
Praia,2,15,3,1,0,1,0,0,8,0
Monumento,2,3,18,2,0,2,0,0,3,0
Ônibus,0,1,3,26,0,0,0,0,0,0
Dinossauro,0,0,0,0,30,0,0,0,0,0
Elefante,1,0,0,0,0,27,0,1,1,0
Flor,0,1,0,0,0,0,28,0,0,1
Cavalo,0,0,0,0,0,0,0,30,0,0
Montanha,1,6,2,1,0,0,0,0,20,0
Comida,1,1,0,0,0,1,0,0,0,27

In [13]:
mlp = neural_network.MLPClassifier(max_iter = 4000)
mlp.fit(X_train, y_train)
print(mlp.score(X_test, y_test))
y_predic_mlp = mlp.predict(X_test)
dfmlp = pd.DataFrame(confusion_matrix(y_test, y_predic_mlp, labels = labels))
dfmlp.columns= labels2
dfmlp.index = labels2
dfmlp

0.82

,Aborígene,Praia,Monumento,Ônibus,Dinossauro,Elefante,Flor,Cavalo,Montanha,Comida
Aborígene,23,0,3,0,0,2,0,0,0,2
Praia,2,14,5,1,0,0,0,0,8,0
Monumento,3,1,23,0,0,0,0,0,2,1
Ônibus,0,0,5,25,0,0,0,0,0,0
Dinossauro,0,0,0,0,30,0,0,0,0,0
Elefante,1,1,0,0,0,27,0,1,0,0
Flor,0,0,1,0,0,0,28,0,0,1
Cavalo,0,0,0,0,0,0,0,30,0,0
Montanha,1,0,5,0,0,1,0,0,23,0
Comida,0,2,2,0,1,0,1,0,1,23

In [ ]:
mlp = neural_network.MLPClassifier(max_iter = 4000)
mlp.fit(X_train, y_train)
print(mlp.score(X_test, y_test))
y_predic_mlp = mlp.predict(X_test)
dfmlp = pd.DataFrame(confusion_matrix(y_test, y_predic_mlp, labels = labels))
dfmlp.columns= labels2
dfmlp.index = labels2
dfmlp